
/*---------------------------------------------------

mixins

--------------------------------------------------- */

$smartphone-width: 480px;
$tablet-width: 600px;
$desktop-width: 768px;

@mixin smartPhone {
    @media screen and (min-width: $smartphone-width) {
      @content;
    }
}
@mixin tablet {
    @media only screen and (min-width: $tablet-width) {
      @content;
    }
  }

@mixin desktop {
    @media only screen and (min-width: $desktop-width) {
      @content;
    }
}


@mixin flex($justify: center, $align: center, $direction: column) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin grid($colums: 1fr) {
    display: grid;
    grid-template-columns: $colums;
    grid-template-rows: auto;
    width: 100%;
}

