/*---------------------------------------------

ALL-STYLES

---------------------------------------------*/

@import "_mixins";

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #ffffff;
    background-color: #000;
}

/* HEADER-STYLE */

.header {
    @include flexCenter(center);
    margin: 30px 0;
    height: 80vh;
    box-sizing: border-box;
}

.header__selectbox {
    @include flexCenter(center);
}

.header__text {
    display: block;
    margin: 20px 0;
}

.header__category {
    background-color: #fff;
    color: #000;
}

/* ARTICLES */

.article-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.loading__img {
    display: none;
    width: 100%;
    text-align: center;
}

.loading__img img {
    max-width: 100%;
    width: 50px;
}

.article_box {
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* ARTICLE-HOVER-DECORATION */

.article__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding-left: 15px;
}

.article_box:hover .article__text {
    opacity: 1;
    padding-top: 100px;
}

/* FOOTER */

.footer {
    @include flexCenter(center);
    font-size: 1.3rem;
    color: #c2c2c2;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

@media only screen and (min-width: 600px) {
    .header {
        flex-direction: row;
    }
    .article-section {
        @include grid(1fr 1fr 1fr);

    }
    .header__text {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .header__logo {
        margin-right: 30px;
    }
    .article_box {
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        justify-content: flex-start;
    }
    .header__logo {
        margin-left: 50px;
    }
    .article-section {
        @include grid(1fr 1fr 1fr 1fr);
    }
    .footer {
        @include flexCenter(flex-start);
        padding-left: 50px;
    }
}