/*---------------------------------------------

ALL-STYLES

---------------------------------------------*/

@import "_mixins";
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: lighter;
    background-color: #000;
}

/* HEADER-STYLE */

.header {
    margin: 30px 0;
    height: 80vh;
    box-sizing: border-box;
    @include flex(center, center, column);
    @include tablet {
        @include flex(center, center, row);
    }
    @include desktop {
        @include flex(flex-start, center, row);
    }
}

.header__selectbox {
    @include flex(center, center, column);
    @include tablet {
        @include flex(center, flex-start, column);
    }
    @include desktop {
        @include flex(center, flex-start, column);
    }
}

.header__logo {
    @include tablet {
        margin-right: 30px;
    }
    @include desktop {
        margin-left: 50px;
    }
}

.header__text {
    color: #ffffff;
    display: block;
    margin: 20px 0;
    @include tablet {
        margin-top: 0;
        margin-bottom: 10px;
    }
    @include desktop {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.header__category {
    background-color: #fff;
    color: #000;
}

/* ARTICLES */

.article-section {
    @include smartPhone {
        @include grid(1fr);
    }
    @include tablet {
        @include grid(1fr 1fr 1fr);
    }
    @include desktop {
        @include grid(1fr 1fr 1fr 1fr);
    }
}

.loading__img {
    display: none;
    width: 100%;
    text-align: center;
}

.loading__img img {
    max-width: 100%;
    width: 50px;
}

.article_box {
    height: 320px;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* ARTICLE-HOVER-DECORATION */

.article__text {
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding-left: 15px;
}

.article_box:hover .article__text {
    opacity: 1;
    padding-top: 100px;
}

/* FOOTER */

.footer {
    @include flex(center, center, column);
    color: #c2c2c2;
    bottom: 0;
    width: 100%;
    height: 10vh;
    @include desktop {
        @include flex(center, flex-start, column);
        padding-left: 50px;
        font-size: 1.3rem;
    }
}